body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  max-width: 1440px;
  height: 700px;
  background-image: url(images/Background.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.caption {
  width: 152px;
  height: 24px;
  margin-top: 46px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.empty {
  width: 300px;
  height: 20px;
}

.login {
  width: 44px;
  height: 17px;
  margin-top: 46px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
  float: left;
}

.header-btn {
  box-sizing: border-box;
  width: 80px;
  height: 30px;
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  z-index: 2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  float: left;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.central-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.header-big-text {
  max-width: 470px;
  height: 126px;
  margin: 250px auto 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
}

.small-text {
  max-width: 396px;
  height: 25px;
  margin: 28px auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F7F3F2;
}

.red-button {
  width: 205px;
  height: 40px;
  margin: 33px auto;
  padding-left: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.first-section {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
}

.caption1 {
  max-width: 342px;
  height: 32px;
  margin: 95px auto 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}

.section1 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 55px auto 0px;
}


.first-section-block1 {
  background-image: url(images/1.png);
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
}

.first-section-block2 {
  background-image: url(images/2.png);
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
}

.first-section-block3 {
  background-image: url(images/3.png);
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
}

.btn2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  width: 70px;
  height: 15px;
  color: #FFFFFF;
  margin-top: 214px;
  background: #FF4E50;
  border-radius: 40px;
  padding-top: 5px;
  margin-left: 25px;
}

.first-section-big-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin-left: 25px;
  margin-top: 18px;
  color: #FFFFFF;
  width: 250px;
  height: 58px;
}

.first-section-small-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-left: 25px;
  display: flex;
  align-items: flex-start;
  color: #E3E3E3;
}

#middle {
  margin-top: 225px;
}

#middle-bottom {
  transform: translateY(-35%);
}

.second-section {
  max-width: 941px;
  /* height: 361px; */
  margin: 95px auto 95px;
}

.second-section-block {
  margin-top: 50px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#caption {
  max-width: 491px;
}

.card {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 50%;
}

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  color: #444444;
}

.second-section-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
}

.second-section-button {
  width: 160px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  margin: 20px auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #FF4E50;
}

.third-section {
  max-width: 940px;
  margin: 0 auto;
}

#caption3 {
  max-width: 413px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  transform: translateY(200%);
}

.third-section-block {
  margin: 100px auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  margin-left: 8px;
  margin-top: 8px;
}

.first-row {
  display: flex;
  flex-wrap: nowrap;
}

.form-section {
  max-width: 482px;
  height: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-caption {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}

.form-text {
  margin: 50px auto 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;

}

.input {
  width: 270px;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  float: left;
}

.button {
  margin-top: 30px;
  margin-left: 20px;
  padding-left: 12px;
  width: 160.12px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  float: left;
}

hr {
  margin-top: 90px;
  border-color: #FF4E50;
}

footer {
  width: 100%;
  max-height: 224px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 38px;
}

.site-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #FF4E50;
}

#bold {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-start;
  color: #444444;
}

li {
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  margin-left: -40px;
}

.logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 1px;
  color: #CCCCCC;
  margin-left: 20px;
}

#picture-small {
  max-width: 32%;
}

#picture-big {
  max-width: 64%;
}

@media screen and (max-width:320px) {
  header {
    height: 556px;
  }

  .top-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header-big-text {
    font-size: 30px;
    line-height: 37px;
    margin-top: 70px;
  }

  .small-text {
    font-size: 18px;
    margin-top: 0px;
  }

  .red-button {
    margin-top: 0px;
  }

  .caption1 {
    font-size: 22px;
    line-height: 27px;
    margin-top: 20px;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    margin: 15px auto 0px;
    justify-content: space-between;
  }

  .first-section-block1 {
    width: 95%;
    margin: 5px auto;
  }

  .first-section-block2 {
    width: 95%;
    margin: 5px auto;
  }

  .first-section-block3 {
    width: 95%;
    margin: 5px auto;
  }

  .btn2 {
    margin-top: 100px;
  }

  #middle {
    margin-top: 115px;
  }

  .second-section-block {
    margin: 20px auto 0px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .second-section {
    margin: 30px auto 30px;
  }

  #caption3 {
    font-size: 22px;
    line-height: 27px;
    margin-top: 20px;
    transform: translateY(30%);
  }

  .third-section-block {
    margin: 20px auto;
  }

  #picture-small {
    max-width: 290px;
    height: 50%;
    margin: 5px auto;
  }

  #picture-big {
    max-width: 95%;
    margin: 5px auto;
  }

  .first-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .second-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .third-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form-caption {
    font-size: 22px;
    line-height: 27px;
  }
  .form-section {
    align-items: center;
    margin: 10px auto;
  }
  .button {
    margin-left: 70px;
  }
  .input {
    margin-left: 8px;
  }
  hr {
    margin-top: 30px;
  }
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
  }
  .company{
    display: none;
   }
  .partners{
    display: none;
  }
  #bold:hover+ .company{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: -60px;
    right: 0;
  }
}